body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  background-color: #f8f9fa;
  min-height: 100vh;
}

.mainContainer {
  border: 2px solid rgba(128, 128, 128, 0.733);
  padding: 15px;
  width: 1030px;
  margin: 0 auto;
  display: flex;
  gap: 32px;
  justify-content: center;
  align-items: center;
  margin-top: 64px;
  border-radius: 20px;
}

.tableLeft {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sectorPhoto {
  width: 400px;
  border: 1px solid rgba(128, 128, 128, 0.616);
  border-radius: 20px;
}

.collectorProfilePhoto {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  border: 5px solid #ae3ec9;
  position: absolute;
  top: 5px;
  right: 5px;
}

.info-container {
  margin: 5px 0px;
}

.info-title {
  font-size: 16px;
  color: #343a40;
  font-weight: bold;
}

.slogan {
  display: flex;

  justify-content: start;
  align-items: start;
}

.info-p {
  width: 110px;
}

.slogan-p {
  width: 470px;
}

.underButtons {
  margin-top: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-bottom: 64px;
}

.delete-button {
  width: 92px;
  border-radius: 15px;
  border: 1px solid rgba(128, 128, 128, 0.425);
  padding: 8px 10px;
  font-size: 16px;
  font-weight: bold;
  background-color: #ffc9c9;
  cursor: pointer;
}
.delete-button:hover {
  transition: 800ms;
  background-color: #ff8787;
}
.Accepted-button {
  width: 92px;
  border-radius: 15px;
  border: 0.5px solid rgba(128, 128, 128, 0.425);
  padding: 8px 10px;
  font-size: 16px;
  font-weight: bold;
  background-color: #b2f2bb;
  cursor: pointer;
}
.Accepted-button:hover {
  transition: 800ms;
  background-color: #69db7c;
}

.validation-pic {
  margin: 0 auto;
  margin-top: 36px;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 600px;
  margin-bottom: 32px;
}
.validation-pic img {
  width: 100%;
  border-radius: 15px;
  border: 1px solid gray;
}

.showValidationImage {
  width: 92px;
  border-radius: 15px;
  border: 0.5px solid rgba(128, 128, 128, 0.425);
  padding: 8px 10px;
  font-size: 16px;
  font-weight: bold;
  background-color: #b2f2bb;
  cursor: pointer;
}
.showValidationImage:hover {
  transition: 800ms;
  background-color: #69db7c;
}

.hide-now {
  display: none;
}
